// Variables
@import "variables/colours";
@import "variables/fonts";
@import "variables/easings";

// Mixins
@import "mixins/responsive";
@import "mixins/browser-prefixes";
// @import 'mixins/headings';
// @import 'mixins/paragraphs';

// Fonts
@import "fonts/ibmplex";

// Normalise
@import "normalise/cross-browser";
@import "normalise/cross-project";

// Pods
// @import "app/pods/application/style";
// @import "app/pods/loading/style";
// @import "app/pods/error/style";
// @import "app/pods/components/page/style";
// @import "app/pods/components/modal/style";
// @import "app/pods/components/input/style";
// @import "app/pods/components/filter-list/style";
// @import "app/pods/components/image/responsive/style";
// @import "app/pods/components/fieldset/style";
// @import "app/pods/components/button/style";

body {
  background: black;
  color: white;
  font-family: $regular;
}
a {
  color: white;
}
body,
html {
  height: 100%;
}
/* The hero image */
section#hero {
  background-image: url("/assets/images/golfclubs.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

section#products {
  background-colour: #222;
  color: white;
}

section#contact {
  background-colour: #333;
  color: white;
}

section#products {
  background-colour: white;
  color: grey;
}

section#logo {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100vw;
  justify-content: center;
}

section#contact {
  background-colour: #333;
  p {
    color: white;
    font-size: 20px;
  }
  a {
    color: white;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
