<section id="hero">
  <div>
  </div>
</section>

<section id="products">
  <div>
  </div>
</section>

<section id="contact">
  <div>
    <ul>
      <li>
        <h3>Julius Chan</h3>
      </li>
      <li>
        <h3>Reto Garo</h3>
      </li>
      <li>
        <h3>Gavin Ho</h3>
      </li>
    </ul>
  </div>
</section>

<section id="founders">
  <div>
  </div>
</section>