<h1>Weekend Warrior</h1>
<nav>
  <ul>
    <li>
      <LinkTo @route="index">Home</LinkTo>
    </li>
    <li>
      <LinkTo @route="about">About</LinkTo>
    </li>
    <li>
      <LinkTo @route="contact">Contact</LinkTo>
    </li>
  </ul>
</nav>
{{outlet}}
