<!-- <div
  id="modal"
  style="
    position: fixed;
    background: #0000008f;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
"
>
  <p style="
    background: white;
    padding: 10vw;
">{{@model.brand}} - {{@model.model}}</p>

</div> -->