// All headings, paragraphs and buttons will inherit these font styles from the <body>
body {
  font-family: $regular; // Important, we explicitly name fonts, no weights used
  font-style: normal; // Important, we use weightless fonts
  font-weight: normal; // Important, we use weightless fonts
  font-size: 16px;
  line-height: 130%;
  margin: 0;
  color: $paragraph-color-1;
  -webkit-font-smoothing: antialiased; // Without it, fonts will look bloated Chrome and Safari
  -moz-osx-font-smoothing: grayscale; // Without it, fonts will look bloated Firefox

  width: 100%;
  height: 100%;
}

// To avoid <img> and <iframe> to have weird white space below them, make them a block
iframe,
img {
  display: block;
}

blockquote {
  margin: 0;
}

// In most cases we use <ul> not as bullet lists and thus we strip them of all browser defaults
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0;
  }
}

// Mobile first designs no longer underline links
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// Button border insets are never desired, yet browser default...
button {
  &:active {
    border-style: solid;
  }
}

// Semantically <table> is sometimes the best way to describe content.
// When you do, always reset the display rules because they are unpredictable.
// display: table;
// display: table-row;
// display: table-cell;
table,
thead,
tbody,
tr,
th,
td {
  display: block;
}
th {
  font-weight: normal; // We use font-families instead of weights
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: normal; // We use font-families instead of weights
  font-family: $bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 100%;
  margin: 0; // Counter the browser defaults
  color: $blue-3;
}
