@font-face {
  font-family: "IBMPlexSans-BoldItalic";
  src: url("/assets/fonts/IBMPlexSans/IBMPlexSans-BoldItalic.woff2")
      format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-BoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url("/assets/fonts/IBMPlexSans/IBMPlexSans-Bold.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: url("/assets/fonts/IBMPlexSans/IBMPlexSans-SemiBold.woff2")
      format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans-ExtraLight";
  src: url("/assets/fonts/IBMPlexSans/IBMPlexSans-ExtraLight.woff2")
      format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans-ThinItalic";
  src: url("/assets/fonts/IBMPlexSans/IBMPlexSans-ThinItalic.woff2")
      format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-ThinItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans-Thin";
  src: url("/assets/fonts/IBMPlexSans/IBMPlexSans-Thin.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans-SemiBoldItalic";
  src: url("/assets/fonts/IBMPlexSans/IBMPlexSans-SemiBoldItalic.woff2")
      format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-SemiBoldItalic.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/assets/fonts/IBMPlexSans/IBMPlexSans.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans-LightItalic";
  src: url("/assets/fonts/IBMPlexSans/IBMPlexSans-LightItalic.woff2")
      format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-LightItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans-Italic";
  src: url("/assets/fonts/IBMPlexSans/IBMPlexSans-Italic.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans-Light";
  src: url("/assets/fonts/IBMPlexSans/IBMPlexSans-Light.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url("/assets/fonts/IBMPlexSans/IBMPlexSans-Medium.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans-ExtraLightItalic";
  src: url("/assets/fonts/IBMPlexSans/IBMPlexSans-ExtraLightItalic.woff2")
      format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-ExtraLightItalic.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans-MediumItalic";
  src: url("/assets/fonts/IBMPlexSans/IBMPlexSans-MediumItalic.woff2")
      format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-MediumItalic.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
