$blue-0: #3687d9; // Text highlight
$blue-1: #3077bf;
$blue-2: #2967a6;
$blue-3: #23578c; // Logo blue
$blue-4: #1d4773;
$blue-5: #163759;

$orange-0: #ff9d4d;
$orange-1: #ff8f33;
$orange-2: #ff8119;
$orange-3: #ff7300; // LMPA orange
$orange-4: #e66800;
$orange-5: #cc5c00;

$grey-1: #e7e7e9;
$grey-2: #cecfd2;
$grey-3: #b6b7bc;
$grey-4: #9d9fa5;
$grey-5: #85878f;
$grey-6: #6d6f78;
$grey-7: #3c3f4b;

$paragraph-color-1: #445260;
$paragraph-color-2: #596979;
$paragraph-color: #34373a;
$title-color: #171819;
$error-red: #ff7f7f;
