$thin: "Roboto-Thin", sans-serif;
$light: "Roboto-Light", sans-serif;
$regular: "Roboto", sans-serif;
$medium: "Roboto-Medium", sans-serif;
$bold: "Roboto-Bold", sans-serif;
$bolditalic: "Roboto-BoldItalic", sans-serif;
$thinitalic: "Roboto-ThinItalic", sans-serif;
$lightitalic: "Roboto-LightItalic", sans-serif;
$italic: "Roboto-Italic", sans-serif;
$mediumitalic: "Roboto-MediumItalic", sans-serif;
