$thin: "IBMPlexSans-Thin", sans-serif;
$extralight: "IBMPlexSans-ExtraLight", sans-serif;
$light: "IBMPlexSans-Light", sans-serif;
$regular: "IBMPlexSans", sans-serif;
$medium: "IBMPlexSans-Medium", sans-serif;
$semibold: "IBMPlexSans-SemiBold", sans-serif;
$bold: "IBMPlexSans-Bold", sans-serif;

$bolditalic: "IBMPlexSans-BoldItalic", sans-serif;
$thinitalic: "IBMPlexSans-ThinItalic", sans-serif;
$semibolditalic: "IBMPlexSans-SemiBoldItalic", sans-serif;
$lightitalic: "IBMPlexSans-LightItalic", sans-serif;
$italic: "IBMPlexSans-Italic", sans-serif;
$extralightitalic: "IBMPlexSans-ExtraLightItalic", sans-serif;
$mediumitalic: "IBMPlexSans-MediumItalic", sans-serif;
