main#homepage.page {
  section#nav {
    height: 0;
    nav {
      position: absolute;
      background-color: #1c1c1c;
      opacity: 0.9;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 60px;
      z-index: 1;
      width: 100%;
      box-sizing: border-box;
      .left,
      .right {
        display: flex;
      }
      .left {
        a {
          font-family: $regulargirassol;
          font-size: 30px;
        }
      }
      a {
        color: white;
        padding: 30px;
        font-size: 18px;
        line-height: 100%;
      }
    }
  }

  section#hero {
    background-color: #252525;
    background-image: url("/assets/images/jc-bag.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include widescreen {
      height: px(31vw);
    }
    @include desktop {
      height: 31vw;
    }
    @include tablet {
      height: 80vw;
    }
    @include mobile {
      height: 130vw;
      background-position: 29% 44%;
    }
  }

  section#products {
    background-color: #1c1c1c;
    display: flex;
    padding: 70px 40px;
    ul.column {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      width: 1440px;
      li.product {
        max-width: 346px;
        padding: 0px 20px;
        .image {
          position: relative;
          img {
            width: 100%;
            height: auto;
          }
          // price tag
          p {
            font-family: $bold;
            position: absolute;
            background: #ffdb5b;
            color: #353535;
            top: 20px;
            right: 20px;
            padding: 10px 16px;
            font-size: 22px;
            margin: 0;
          }
        }
        .text {
          padding: 28px;
          position: relative;
          background-color: #272727;
          margin-bottom: 40px;
          h4 {
            font-family: $bold;
            font-size: 30px;
            color: white;
            small {
              font-family: $light;
              font-size: 24px;
              margin-left: 10px;
            }
          }
          p,
          dt,
          dd {
            color: white;
            line-height: 180%;
            font-size: 16px;
          }
          dl {
            margin: 22px 0;
            display: flex;
            flex-flow: wrap;
            dt {
              width: 40%;
            }
            dd {
              width: 60%;
              margin: 0; // to overide the browser default.
            }
          }
          p {
            a {
              color: white;
              text-decoration: underline;
              &:hover {
                text-decoration: none;
                color: #ffdb5b;
              }
            }
          }
        }
      }
    }
  }
}

section#contact {
  background: #252525;
  padding: 60px;
  div {
    text-align: center;
    margin: 25px;
    p {
      color: white;
      font-size: 20px;
      line-height: 150%;
      a {
        color: white;
      }
    }
  }
}

section#founders {
  ul {
    display: flex;
    background-color: white;
    padding: 25px;
    li {
      flex: 1;
      margin: 25px;
      text-align: center;
      img {
        width: 100%;
        height: auto;
        padding: 20px;
      }
      h3 {
        color: #252525;
        padding: 10px;
      }
      h4 {
        color: #252525;
      }
      p {
        color: #252525;
      }
    }
  }
}
