<section id="hero">
  <div>
    <h4>SWAGGER is why you're here!!!!...... looking through ‘the collection of
      cult-like’ nostalgic weapons of choice for your weekend journey becoming
      the warrior amongst your mates...
    </h4>
  </div>
</section>

<section id="products">
  <div>
    <ul class="column">
      <li class="product"></li>
      <li class="product"></li>
      <li class="product"></li>
    </ul>

    <ul class="column">
      <li class="product"></li>
      <li class="product"></li>
      <li class="product"></li>
    </ul>

    <ul class="column">
      <li class="product"></li>
      <li class="product"></li>
      <li class="product"></li>
    </ul>
  </div>
</section>

<section id="contact">
  <div>
    <p>To order, click the clubs above.</p>
    <p>For all other questions, just ask:</p>
    <p>
      <a href="mailto:ask@weekendwarrior.golf">ask@weekendwarrior.golf</a>
    </p>
    <p>Or find us on: Instagram, Facebook and Ebay</p>
  </div>
</section>

<section id="founders">
  <div class="founders">
    <div>
      <h2>Weekend Warriors</h2>
      <ul>
        <li>
          <img
            src="/Users/retogaro/Documents/Front\ End\ Web\ Dev/Weekend\ Warrior/JC.jpeg"
          >
          <h3>Julius Chan</h3>
          <h4>Weekend Warrior</h4>
          <h4>Co-Founder</h4>
          <p>Julius used to hate golf. He’d slice his driver 3 fairways to the
            right and end up hitting 140 strokes in a single 18 hole round
            loosing 12 balls. Then he started taking lessons. Now he has more
            irons than rio tinto and more drivers than
            kyle berkshire.</p>
        </li>
        <li>
          <h3>Gavin Ho</h3>
          <h4>Weekend Warrior</h4>
          <h4>Co-Founder</h4>
          <p>Absolutely hopeless with the driver, however dreams of having
            better short game than phil mickelson. Love hate relationship. Hate
            the player not the game.</p>
        </li>
        <li>
          <h3>Reto Garo</h3>
          <h4>Weekend Warrior</h4>
          <h4>CTO</h4>
          <p>Reto is the only person here with a single digit handicap and
            belongs to a proper golf club. All he does all day long is send
            meaningless gifs to annoy all his golf mates. Also he once threw his
            3 wood further than his golf shot.</p>
        </li>
      </ul>
    </div>
  </div>
</section>