<main
  id="homepage"
  class="page"
>
  <section id="hero">
    <div>
    </div>
  </section>

  <section id="products">
    <div>
      <ul>
        <li>
          <h4>Titleist</h4>
          <p>Used Club</p>
        </li>
        <li>
          <h4>Mizuno</h4>
          <p>Golf Club</p>
        </li>
        <li>
          <h4>Miura</h4>
          <p>Premium Club</p>
        </li>
        <li>
          <h4>Taylormade</h4>
          <p>Premium Club</p>
        </li>
        <li>
          <h4>Callaway</h4>
          <p>Used Club</p>
        </li>
      </ul>
    </div>
  </section>

  <section id="contact">
    <div>
      <p>To order, click the clubs above.<br />For all other questions, just ask:</p>
      <p>
        <a href="mailto:ask@weekendwarrior.golf"><strong>ask@weekendwarrior.golf</strong></a>
      </p>
      <p>Or find us on: Instagram, Facebook and Ebay</p>
    </div>
  </section>

  <section id="founders">
    <div class="founders">
      <div>
        <ul>
          <li>
            <h3>Julius Chan</h3>
            <h4>Weekend Warrior</h4>
            <h4>Co-Founder</h4>
            <img
              src="/assets/images/JC.jpg"
              width="300"
              height="300"
            >
            <p>Julius used to hate golf. He’d slice his driver 3 fairways to the
              right and end up hitting 140 strokes in a single 18 hole round
              loosing 12 balls. Then he started taking lessons. Now he has more
              irons than rio tinto and more drivers than
              kyle berkshire.</p>
          </li>
          <li>
            <h3>Gavin Ho</h3>
            <h4>Weekend Warrior</h4>
            <h4>Co-Founder</h4>
            <img
              src="/assets/images/GH.jpg"
              width="300"
              height="300"
            >
            <p>Absolutely hopeless with the driver, however dreams of having
              better short game than phil mickelson. Love hate relationship. Hate
              the player not the game.</p>
          </li>
          <li>
            <h3>Reto Garo</h3>
            <h4>Weekend Warrior</h4>
            <h4>CTO</h4>
            <img
              src="/assets/images/RG.jpg"
              width="300"
              height="300"
            >
            <p>Reto is the only person here with a single digit handicap and
              belongs to a proper golf club. All he does all day long is send
              meaningless gifs to annoy all his golf mates. Also he once threw his
              3 wood further than his golf shot.</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>