<main
  id="homepage"
  class="page"
>

  <section id="logo">
    <h1>Weekend Warrior</h1>
  </section>

  <section id="hero">
    <div>
    </div>
  </section>

  <section id="products">
    <div class="columns">
      <ul class="column">
        <li class="product">
          <h4>Mizuno - MP64</h4>
          <p>Condition: Used</p>
          <p>Shaft: Stiff</p>
          <p>Length: Regular</p>
          <p>Mizuno Golf has a history providing the best irons a golfer can buy. These forged irons were historically reserved for the better golfers. Now, Mizuno offers different designs for all levels of skill.</p>
        </li>
        <li class="product">
          <h4>Mizuno - MP64</h4>
          <p>Condition: Used</p>
          <p>Shaft: Stiff</p>
          <p>Length: Regular</p>
          <p>Mizuno Golf has a history providing the best irons a golfer can buy. These forged irons were historically reserved for the better golfers. Now, Mizuno offers different designs for all levels of skill.</p>
        </li>
      </ul>

      <ul class="column">
        <li class="product">
          <h4>Ping - i200</h4>
          <p>Condition: Used</p>
          <p>Shaft: Stiff</p>
          <p>Length: Regular</p>
          <p>Precision distance with horizontal and vertical trajectory control in a slim, appealing shape distinguish the soft, 431 stainless steel i200 irons.</p>
        </li>
        <li class="product">
          <h4>Ping - i200</h4>
          <p>Condition: Used</p>
          <p>Shaft: Stiff</p>
          <p>Length: Regular</p>
          <p>Precision distance with horizontal and vertical trajectory control in a slim, appealing shape distinguish the soft, 431 stainless steel i200 irons.</p>
        </li>
      </ul>

      <ul class="column">
        <li class="product">
          <h4>Titleist - DCI 962</h4>
          <p>Condition: Used</p>
          <p>Shaft: Stiff</p>
          <p>Length: Regular</p>
          <p>These irons have the traditional look, with the extremely solid ball striking characteristic. They offer plenty of confidence when addressing the ball with their minimal offset and thin top line.</p>
        </li>
        <li class="product">
          <h4>Titleist - DCI 962</h4>
          <p>Condition: Used</p>
          <p>Shaft: Stiff</p>
          <p>Length: Regular</p>
          <p>These irons have the traditional look, with the extremely solid ball striking characteristic. They offer plenty of confidence when addressing the ball with their minimal offset and thin top line.</p>
        </li>
      </ul>
    </div>
  </section>

  <section id="contact">
    <div>
      <p>To order, click the clubs above.<br />For all other questions, just ask:</p>
      <p>
        <a href="mailto:ask@weekendwarrior.golf"><strong>ask@weekendwarrior.golf</strong></a>
      </p>
      <p>Or find us on: Instagram, Facebook and Ebay</p>
    </div>
  </section>

  <section id="founders">
    <div class="founders">
      <div>
        <ul>
          <li>
            <h3>Julius Chan</h3>
            <h4>Weekend Warrior</h4>
            <h4>Co-Founder</h4>
            <img
              src="/assets/images/JC.jpg"
              width="300"
              height="300"
            >
            <p>Julius used to hate golf. He’d slice his driver 3 fairways to the
              right and end up hitting 140 strokes in a single 18 hole round
              loosing 12 balls. Then he started taking lessons. Now he has more
              irons than rio tinto and more drivers than
              kyle berkshire.</p>
          </li>
          <li>
            <h3>Gavin Ho</h3>
            <h4>Weekend Warrior</h4>
            <h4>Co-Founder</h4>
            <img
              src="/assets/images/GH.jpg"
              width="300"
              height="300"
            >
            <p>Absolutely hopeless with the driver, however dreams of having
              better short game than phil mickelson. Love hate relationship. Hate
              the player not the game.</p>
          </li>
          <li>
            <h3>Reto Garo</h3>
            <h4>Weekend Warrior</h4>
            <h4>CTO</h4>
            <img
              src="/assets/images/RG.jpg"
              width="300"
              height="300"
            >
            <p>The only person here with a single digit handicap and
              belongs to a proper golf club. All he does all day long is send
              meaningless gifs to annoy all his golf mates. Also he once threw his
              3 wood further than his golf shot.</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>