<main
  id="homepage"
  class="page"
>

  <section id="logo">
    <img
      src="/assets/images/Weekend Warrior Logo.jpg"
      width="105"
      height="105"
    >
  </section>

  <section id="hero">
    <div>
    </div>
  </section>

  <section id="products">
    <div class="columns">
      <ul class="column">
        <li class="product">
          <div class="image">
            <img src="/assets/images/Tourstage TS-201.jpg">
            <p>$300</p>
          </div>
          <div class="text">
            <h4>Tourstage <small>Ts201</small></h4>

            <dl>
              <dt>Condition:</dt>
              <dd>Used</dd>
              <dt>Shaft:</dt>
              <dd>Regular</dd>
              <dt>Length:</dt>
              <dd>Regular</dd>
              <dt>Club Range:</dt>
              <dd>3 - PW</dd>
            </dl>

            <p>Nice set of quality forged irons to go with a lighter shaft in the Nippon980GH Regular.They play a touch softer to a DGR300. The iron heads are beautifully compact, but still instill confidence at address. Soft, buttery feeling irons
              for the Weekend Warrior Only. </p>
            <p><a>Read more</a></p>
          </div>
        </li>

        <li class="product">
          <div class="image">
            <img src="/assets/images/Tourstage TS-201.jpg">
            <p>$300</p>
          </div>
          <div class="text">
            <h4>Tourstage <small>Ts201</small></h4>
            <p>Condition: Used</p>
            <p>Shaft: Regular</p>
            <p>Length: Regular</p>
            <p>Nice set of quality forged irons to go with a lighter shaft in the Nippon980GH Regular.They play a touch softer to a DGR300. The iron heads are beautifully compact, but still instill confidence at address. Soft, buttery feeling irons
              for the Weekend Warrior Only. </p>
            <p><a>Read more</a></p>
          </div>
        </li>

        <li class="product">
          <div class="image">
            <img src="/assets/images/Mizuno MP33.jpg">
            <p>Sold</p>
          </div>

          <div class="text">
            <h4>Mizuno <small>MP33</small></h4>
            <p>Condition: Used</p>
            <p>Shaft: Stiff</p>
            <p>Length: Regular</p>
            <p>Precision distance with horizontal and vertical trajectory control in a slim, appealing shape distinguish the soft, 431 stainless steel i200 irons. Weekend Warrior Only.</p>
            <p><a>Read more</a></p>
          </div>
        </li>

      </ul>

      <ul class="column">
        <li class="product">
          <div class="image">
            <img src="/assets/images/Mizuno MP33.jpg">
            <p>Sold</p>
          </div>

          <div class="text">
            <h4>Mizuno <small>MP33</small></h4>
            <p>Condition: Used</p>
            <p>Shaft: Stiff</p>
            <p>Length: Regular</p>
            <p>Precision distance with horizontal and vertical trajectory control in a slim, appealing shape distinguish the soft, 431 stainless steel i200 irons. Weekend Warrior Only.</p>
            <p><a>Read more</a></p>
          </div>
        </li>

        <li class="product">
          <div class="image">
            <img src="/assets/images/Bridgestone J36.jpg">
            <p>Sold</p>
          </div>

          <div class="text">
            <h4>Bridgestone <small>J36</small></h4>
            <p>Condition: Used</p>
            <p>Shaft: Stiff</p>
            <p>Length: Regular</p>
            <p>The J36 Cavity is produced at the Endo manufacturing plant out of soft 1020 carbon steel. Using a warm forging technique and 1600 tons of forging pressure this provides the player with great confidence and feel. Weekend Warrior Only.
            </p>
            <p><a>Read more</a></p>
          </div>
        </li>

        <li class="product">
          <div class="image">
            <img src="/assets/images/Bridgestone J36.jpg">
            <p>Sold</p>
          </div>

          <div class="text">
            <h4>Bridgestone <small>J36</small></h4>
            <p>Condition: Used</p>
            <p>Shaft: Stiff</p>
            <p>Length: Regular</p>
            <p>The J36 Cavity is produced at the Endo manufacturing plant out of soft 1020 carbon steel. Using a warm forging technique and 1600 tons of forging pressure this provides the player with great confidence and feel. Weekend Warrior Only.
            </p>
            <p><a>Read more</a></p>
          </div>
        </li>
      </ul>

      <ul class="column">
        <li class="product">
          <div class="image">
            <img src="/assets/images/Mizuno JPX 900 Tour.jpg">
            <p>Sold</p>
          </div>

          <div class="text">
            <h4>Mizuno <small>JPX900 Tour</small></h4>
            <p>Condition: Used</p>
            <p>Shaft: Stiff</p>
            <p>Length: Regular</p>
            <p>Sexy set of forged irons with a modern boron injected look. Shafted with a black KBS stiff $taper lite, plays quater of an inch short. Hitting of the face feels a little harder than some of the older MP models. For the weekend warrior
              only.</p>
            <p><a>Read more</a></p>
          </div>
        </li>

        <li class="product">
          <div class="image">
            <img src="/assets/images/Tourstage TS-201.jpg">
            <p>$300</p>
          </div>
          <div class="text">
            <h4>Tourstage <small>Ts201</small></h4>
            <p>Condition: Used</p>
            <p>Shaft: Regular</p>
            <p>Length: Regular</p>
            <p>Nice set of quality forged irons to go with a lighter shaft in the Nippon980GH Regular.They play a touch softer to a DGR300. The iron heads are beautifully compact, but still instill confidence at address. Soft, buttery feeling irons
              for the Weekend Warrior Only. </p>
            <p><a>Read more</a></p>
          </div>
        </li>

        <li class="product">
          <div class="image">
            <img src="/assets/images/Mizuno JPX 900 Tour.jpg">
            <p>Sold</p>
          </div>

          <div class="text">
            <h4>Mizuno <small>JPX900 Tour</small></h4>
            <p>Condition: Used</p>
            <p>Shaft: Stiff</p>
            <p>Length: Regular</p>
            <p>Sexy set of forged irons with a modern boron injected look. Shafted with a black KBS stiff $taper lite, plays quater of an inch short. Hitting of the face feels a little harder than some of the older MP models. For the weekend warrior
              only.</p>
            <p><a>Read more</a></p>
          </div>
        </li>

      </ul>
    </div>
  </section>

  <section id="contact">
    <div>
      <p>To order, click the clubs above.<br />For all other questions, just ask:</p>
      <p>
        <a href="mailto:sendit@weekendwarrior.golf"><strong>sendit@weekendwarrior.golf</strong></a>
      </p>
      <p>Or find us on: Instagram, Facebook and Ebay</p>
    </div>
  </section>

  <section id="founders">
    <div class="founders">
      <div>
        <ul>
          <li>
            <h3>Julius Chan</h3>
            <h4>Weekend Warrior</h4>
            <h4>Co-Founder</h4>
            <img
              src="/assets/images/JC.jpg"
              width="300"
              height="300"
            >
            <p>Julius used to hate golf. He’d slice his driver 3 fairways to the
              right and end up hitting 140 strokes in a single 18 hole round
              loosing 12 balls. Then he started taking lessons. Now he has more
              irons than rio tinto and more drivers than
              kyle berkshire.</p>
          </li>
          <li>
            <h3>Gavin Ho</h3>
            <h4>Weekend Warrior</h4>
            <h4>Co-Founder</h4>
            <img
              src="/assets/images/GH.jpg"
              width="300"
              height="300"
            >
            <p>Absolutely hopeless with the driver, however dreams of having
              better short game than phil mickelson. Love hate relationship. Hate
              the player not the game.</p>
          </li>
          <li>
            <h3>Reto Garo</h3>
            <h4>Weekend Warrior</h4>
            <h4>CTO</h4>
            <img
              src="/assets/images/RG.jpg"
              width="300"
              height="300"
            >
            <p>The only person here with a single digit handicap and
              belongs to a proper golf club. All he does all day long is send
              meaningless gifs to annoy all his golf mates. Also he once threw his
              3 wood further than his golf shot.</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>